# Tuplas y listas

Alejandro E. Martínez Castro

_Departamento de Mecánica de Estructuras e Ingeniería Hidráulica. 
Universidad de Granada_

Python cuenta con una gran variedad de tipos de datos que permiten representar la información según cómo esté estructurada. En esta sección se describen las tuplas y las listas, que son tipos de datos utilizados cuando se quiere agrupar elementos.

## Tuplas

En programación, en general, al querer modelar objetos de la vida real, es muy común que querramos describir un objeto como un agrupamiento de datos de distintos tipos. 

Una tupla es un conjunto heterogéneo de datos, listados entre paréntesis. Veamos un ejemplo.

In [1]:
t=(25, "Mayo", 1810)
type(t)

tuple

In [2]:
dia = t[0]
mes = t[1]
year = t[2]

In [3]:
print "El día es ", dia, "y es de tipo ", type(dia)
print "El mes es ", mes, "y es de tipo ", type(mes)
print "El año es ", year, "y es de tipo ", type(year)

El día es  25 y es de tipo  <type 'int'>
El mes es  Mayo y es de tipo  <type 'str'>
El año es  1810 y es de tipo  <type 'int'>

Las tuplas son inmutables: no se pueden modificar. Esto mismo le ocurría a las cadenas de caracteres.

In [4]:
t[1] = "Junio"

TypeError: 'tuple' object does not support item assignment

La longitud de una tupla se puede calcular con la función 
    len()

In [5]:
len(t)

3

La asignación de variables desde una tupla puede hacerse en una sola línea

In [6]:
x, y, z = (10, 20, 30) # Esto permite asignar 3 variables en una sóla línea

In [7]:
print x, y, z

10 20 30

## Listas

Las listas son secuencias indexadas de variables (objetos de diferente tipo).

Las listas son mutables. Sus posiciones se pueden cambiar.

En Python las listas se escriben entre corchetes "[ ]"

In [8]:
xs=[78455, 89211, 66540, 45750]

In [9]:
type(xs) # Veamos de qué tipo es xs

list

In [10]:
xs[0] # Primera posición de xs

78455

In [11]:
xs[1] = 10 # Se cambia la SEGUNDA posición de xs
xs

[78455, 10, 66540, 45750]

In [12]:
xs[1] = 10.1 # Se asigna un número de punto flotante en la posición 1.

In [13]:
xs

[78455, 10.1, 66540, 45750]

In [14]:
type(xs)

list

In [15]:
type(xs[1])

float

## Operaciones con listas. 

### Añadir elementos (append)

El objeto que se ha creado es de tipo "lista". 

Las listas tienen sus propios métodos y funciones. Tanto en Spyder como en Jupyter, escribiendo un "punto" junto al nombre del objeto, y pulsando el tabulador, se obtiene un listado desplegable de posibles funciones y procedimientos que pueden hacerse con un determinado objeto. 

El método "append()", permite añadir a una lista números o listas, al final.

In [16]:
xs.append(100) # Pruebe escribir el .append como se ha indicado antes. Borre y vuelva a escribir esta línea para verlo.
xs

[78455, 10.1, 66540, 45750, 100]

In [17]:
xs.append([1,2]) # Se añade una lista al final
xs

[78455, 10.1, 66540, 45750, 100, [1, 2]]

In [18]:
xs.append("Hola") # Ahora se añade una cadena de caracteres
xs

[78455, 10.1, 66540, 45750, 100, [1, 2], 'Hola']

In [19]:
len(xs)

7

### Insertar elementos (insert)

Este método permite insertar en una posición determinada un objeto. El resto de objetos se despazan hacia la derecha.

In [20]:
mi_lista = [1,2,3,4,5,6,7]
print mi_lista

[1, 2, 3, 4, 5, 6, 7]

In [21]:
mi_lista.insert(1,10) # Se inserta en la posición 1 un 10
print mi_lista

[1, 10, 2, 3, 4, 5, 6, 7]

### Eliminar un valor de la lista (el primero que aparezca)

Este método permite eliminar el primer valor que aparezca en la lista.

In [22]:
mi_lista.remove(10)
mi_lista

[1, 2, 3, 4, 5, 6, 7]

### Verificar si un valor está dentro de una lista

La salida de "in" es un valor lógico: True si es cierto, False si no.

In [23]:
7 in mi_lista

True

In [24]:
8 in mi_lista

False

### Localizar el índice de un valor

Este método permite obtener el índice donde se encuentra un valor determinado dentro de la lista. Si está repetido devuelve el de la primera aparición.

In [25]:
mi_lista.index(2)

1

### Lista con números enteros desde el 0 hasta el n-1 de un número entero

Este recurso se utilizará posteriormente en bucles _for_

In [26]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
lista = _ # Con el guión bajo se hace referencia al resultado inmediatamente anterior.
lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
type(lista)

list

### Concatenación

El operador + permite concatenar dos listas. Observe que no se realizan operaciones de suma.

In [29]:
lista1 = [10, 20, 30]
lista2 = [40, 50, 60, 70]
lista3 = lista1 + lista2
lista3

[10, 20, 30, 40, 50, 60, 70]

### Multiplicación

El operador \* seguido de un número entero permite repetir concatenaciones.

In [30]:
lista4 = lista1 * 3
lista4

[10, 20, 30, 10, 20, 30, 10, 20, 30]

### Extracción de sub-listas

De forma similar a lo que ocurre con las cadenas de caracteres, es posible extraer subcadenas indicando

+ El índice del primer objeto a extraer. El índice inicial es inclusivo. 
+ El índice del último valor, considerando el último índice no inclusivo.

In [31]:
lista = [0,1,2,3,4,5,6,7,8]
sublista = lista[1:3]
sublista

[1, 2]

Se puede añadir un tercer índice, que indica el paso

In [32]:
pares = lista[0:len(lista):2]
pares

[0, 2, 4, 6, 8]

### Mínimo y máximo de una lista
Las funciones min() y max() permiten obtener los valores mínimo y máximo de una lista.

In [33]:
min(pares)

0

In [ ]:
max(pares)

### Ordenar una lista

El método "sort" permite ordenar una lista

In [34]:
lista = [10,2,100, -20, 4]
lista.sort()

In [35]:
lista

[-20, 2, 4, 10, 100]

### Listas y cadenas

Una cadena puede convertirse en una lista de las palabras que la componen.

In [36]:
cadena = "Esto es una cadena de caracteres"
lista_cadena = cadena.split()

In [37]:
lista_cadena

['Esto', 'es', 'una', 'cadena', 'de', 'caracteres']

La inversa es la función joint()

In [38]:
cadena2 = " ".join(lista_cadena) #Inicialmente se muestra el separador.

In [39]:
cadena2

'Esto es una cadena de caracteres'