# Lección 01

## Actuación Sobre Listas

In [1]:
a = ['toyota','suzuki','honda','subaru']; a

['toyota', 'suzuki', 'honda', 'subaru']

In [2]:
a.extend(['lexus','toyota','daihatsu','toyota']); a

['toyota',
 'suzuki',
 'honda',
 'subaru',
 'lexus',
 'toyota',
 'daihatsu',
 'toyota']

In [3]:
a.insert(2,'nissan'); a

['toyota',
 'suzuki',
 'nissan',
 'honda',
 'subaru',
 'lexus',
 'toyota',
 'daihatsu',
 'toyota']

In [4]:
a.insert(2,'nissan'); a

['toyota',
 'suzuki',
 'nissan',
 'nissan',
 'honda',
 'subaru',
 'lexus',
 'toyota',
 'daihatsu',
 'toyota']

In [5]:
a.index('nissan')

2

In [6]:
a.index('toyota',3,11)

7

In [7]:
a.count('toyota')

3

In [8]:
a.remove('nissan'); a

['toyota',
 'suzuki',
 'nissan',
 'honda',
 'subaru',
 'lexus',
 'toyota',
 'daihatsu',
 'toyota']

In [9]:
a.remove('nissan'); a

['toyota',
 'suzuki',
 'honda',
 'subaru',
 'lexus',
 'toyota',
 'daihatsu',
 'toyota']

In [10]:
a.append('nissan'); a

['toyota',
 'suzuki',
 'honda',
 'subaru',
 'lexus',
 'toyota',
 'daihatsu',
 'toyota',
 'nissan']

In [11]:
a.extend(['subaru','lexus'])
a

['toyota',
 'suzuki',
 'honda',
 'subaru',
 'lexus',
 'toyota',
 'daihatsu',
 'toyota',
 'nissan',
 'subaru',
 'lexus']

In [12]:
a.pop()

'lexus'

In [13]:
a

['toyota',
 'suzuki',
 'honda',
 'subaru',
 'lexus',
 'toyota',
 'daihatsu',
 'toyota',
 'nissan',
 'subaru']

In [14]:
a.pop(1)

'suzuki'

In [15]:
a

['toyota',
 'honda',
 'subaru',
 'lexus',
 'toyota',
 'daihatsu',
 'toyota',
 'nissan',
 'subaru']

In [16]:
a.popleft()

AttributeError: 'list' object has no attribute 'popleft'

## Copia de listas

In [ ]:
b = a

In [ ]:
c = a.copy()

In [ ]:
b == a

In [ ]:
c == a

In [ ]:
a.sort()

In [ ]:
a

In [ ]:
b

In [ ]:
c

In [ ]:
b == a

In [ ]:
c == a

In [ ]:
c.sort(reverse = True)

In [ ]:
c

In [ ]:
len(c)

In [ ]:
a.reverse()

In [ ]:
a == c

In [ ]:
x = ['toyota', 'suzuki', 'nissan', 'honda', 'subaru', 'lexus', 'mazda']; x

In [ ]:
y = sorted(x)

In [ ]:
y

In [ ]:
x

## Otra forma de actuar sobre listas

In [ ]:
a = ['toyota','honda',100,123]

In [ ]:
'toyota' in a

In [ ]:
for i in a:
    print(i)

In [ ]:
for i in range(4):
    print(a[i])

In [ ]:
for i in range(1,5):
    print(a[-i])

In [ ]:
a[3] == a[-1]

In [ ]:
a[1:3]

In [ ]:
a[:3]

In [ ]:
a[:4]

In [ ]:
a[:5]

In [ ]:
a

In [ ]:
a[1:-1]

In [ ]:
a

In [ ]:
a[2] -= 1

In [ ]:
a

In [ ]:
a[0:2]

In [ ]:
a[:]

In [ ]:
a[0:1] = []

In [ ]:
a

In [ ]:
a[:0]

In [ ]:
a[:0]=['lexus']

In [ ]:
a

In [ ]:
a[:0] = a

In [ ]:
a

In [ ]:
b

In [ ]:
a.clear()

In [ ]:
a

In [ ]:
b[:] = []

In [ ]:
b

In [ ]:
a = ['toyota','suzuki','honda','subaru','daihatsu','nissan']

In [ ]:
a

In [ ]:
del a[0]

In [ ]:
a

In [ ]:
del a[1:2]

In [ ]:
a

In [ ]:
del a[:]

In [ ]:
a

## Sobre `range`

In [ ]:
range(5)

In [ ]:
type(range(5))

In [ ]:
for i in range(5):
    print(i)

In [ ]:
for i in range(3,6):
    print(i)

In [ ]:
for i in range(4,10,2):
    print(i)

In [ ]:
for i in range(4,-10,-2):
    print(i)

In [ ]:
for i in range(30,14,-2):
    print(i)

In [ ]:
lista_de_enteros = list(range(3))

In [ ]:
lista_de_enteros

In [ ]:
type(lista_de_enteros)

In [ ]:
mi_lista = ['uno','dos','tres','cuatro','cinco']

In [ ]:
mi_lista_longitud = len(mi_lista)

In [ ]:
for i in range(0,mi_lista_longitud):
    print(mi_lista[i])

## buen estilo de enumerar

In [ ]:
strng = 'abcdefghijklmn'

In [ ]:
enumerate(strng)

In [ ]:
for i in enumerate(strng):
    print(i)

In [ ]:
for i, v in enumerate(strng):
    print(v)

In [ ]:
for i, v in enumerate(strng):
    print('la posición {0} está ocupada por el valor {1}'.format(i,v))

## iniciación al desempaquetado

In [ ]:
args = [3,10,2]

In [ ]:
range(*args)